body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.component {
  border: 2px dashed #f66;
  margin: 1em;
  padding: 1em;
}

.component h1,h2,h3 {
  margin:0;
  padding:0;
}
.viewItem {
  background-color: gray;
  color: white;
}
.addItem {
  background-color: darkgray;
}
.listItem {
  background-color: bisque;
}